:root {
  --background: #F8F9FA;
  --foreground: #171717;
  --primaryColor:#4FD1C5;
  --secondaryColor:#ACB8C8;
  --websiteWhite: #ffffff;
  --websiteBlack: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

body {
  font-family: 'Inter', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


